# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
env/
.venv/
.env/

# Environnement
.env

# Data & outputs
data/osint_eagle.db
data/screenshots/
data/*.log
*.log

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Playwright
playwright/.local-browsers/
